</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <p>Copyright © 
    <% const d = new Date();%>
    <% let year = d.getFullYear(); %>
    <%= year %>
  </p>
</footer>
</body>

</html>